<li id="menu_dashboard_list_home"><a href="{% url 'home:index' %}"><i class="fa fa-circle-o"></i> Home Menu</a></li>
<li id="menu_dashboard_list_price_realtime"><a href="{% url 'home:priceRealtime' %}"><i class="fa fa-circle-o"></i> BTC-USD Realtime Price</a></li>
<li id="menu_dashboard_list_price_exchange"><a href="{% url 'home:priceExchange' %}"><i class="fa fa-circle-o"></i> Bitcoin Exchange Price</a></li>
<li id="menu_dashboard_list_user_behaviour"><a href="{% url 'home:userBehaviour' %}"><i class="fa fa-circle-o"></i> User Behaviour</a></li>
<li id="menu_dashboard_list_address_trace"><a href="{% url 'home:addressTrace' %}"><i class="fa fa-circle-o"></i> Address tracing</a></li>
